* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root {
    --green: #00b37e;
    --gray-light: #d9ff00;
    --gray-dark: #8d8d99;
    --gray-600: #d9ff00;
    --color-bg-dark: #a106e7;
    --color-line: #a106e7;
  
    font-size: 62.5%;
  }
  
  body {
    background: #202015;
    color: var(--gray-light);
  }
  
  body,
  input,
  textarea,
  button {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }